
# HTID:4943153: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:4943153:
ErrorDocument 404 /quanlycongvan2/404.html
# HTID:5008033: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
Redirect 301 /myadmin https://facebook.com/hoang10tn1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:5008033:
