
/* body */
body {
	background-color:#d5e5fd;
	}

/* menu */




.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
	float: left;
}
.dropdownmenu ul {
	background: #30A6E6;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #0033CC;
}
/*#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	 
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #0033CC;
}
#submenu a {
	background-color:#0CC;
}*/

/* div wrapper */

.wrapper {
	
	width: 1000px;
	
	margin: 0px auto;
}
/* div section */
#header {
	width: 1000px;
	height: 140px;
	background-color:#000000;
	}

.menu {
	width: 1000px;
	height: 40px;
	background-color:#003;
	float:left;
	}
.container{
	width: 1000px;
	background-color:#FFFFFF; 
	padding-top: 2px;
	}
#container {
	overflow:auto;
	}
.left { 
	overflow:auto;
}
#left {
	width: 200px;
	height: 850px;
	background-color:#30A6E6;
	/*clear:left; */
	float:left;
	}
#content {
	width: 800px;
	height: 850px;
	overflow: auto;
	background-color:#FFFFFF;
	float:right	;

	
	}
/*
#right {
	width: 200px;
	height: 500px;
	background-color:#603;
	float:right;
	}
*/
#footer {
	width:1000px;
	background-color: #03C;
	text-align: center;
	clear:both;
	height: 100px;

}


#content p{
	float: left;
	
	}
.table table {	
	border-collapse: collapse;
	
}
.table table th {
    background-color: #6699CC;
    color: white;
}
.table table tr:nth-child(even){
	background-color: #CDECF8;
	}


.table table tr ,td{
	margin: 2px;
	}
/*Page number */
.page-number{
	background-color: #1f76ef;
	color: #FFFFFF;
	padding: 6px;
	margin: 10px;
	text-decoration: none;
}


.page-select{
	background-color: #001d47;
	color: #FFFFFF;
	padding: 6px;
	margin: 10px ;
	text-decoration: none;
}
.page-next {
	background-color: #1f76ef;
	color: #FFFFFF;
	padding: 6px;
	margin: 10px ;
	text-decoration: none;
}

.page-prev {
	background-color: #1f76ef;
	color: #FFFFFF;
	padding: 6px;
	margin: 10px ;
	text-decoration: none;
}

.table-page{
	padding: 15px;
	text-align: center;
}
.uptop{
	color: red;
	background-color: white;
	text-decoration: none;
	padding: 5px;
	border-color: green;
}
.info{
	
	padding: 15px;
	text-align: center;
	color:white;
}


